.bg-sponsor{
    background-color: rgb(243, 246, 252);
}


.imgs{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;

}

.sponsor-style{
   border-radius: 10px;
   background-color: rgb(65, 182, 91);
   transition: transform 0.3s ease-in-out;
   height: 140px;
   margin-bottom: 15px;
   margin-top: 15px;
}

.sponsor-style:hover{
cursor: pointer;
transform: scale(1.05);
}

.sponsor-img {
    max-width: 100%;
}

.img-margin-bottom{
    margin-bottom: 20px;
}