.custom-panel {
  width: 80%; /* Default width for smaller screens */
}

@media screen and (min-width: 992px) {
  .custom-panel {
    width: 60%; /* Adjusted width for large screens */
  }
}
.description-text {
  color: #333;
  font-size: 1rem; /* Tamaño de letra predeterminado */
}

@media (max-width: 768px) {
  .description-text {
    font-size: 0.9rem; /* Reducir tamaño de letra para dispositivos más pequeños */
  }
}
