.bg-gestion {
  background-color: #be3b6b;
}
.bg-mercadeo {
  background-color: #f58208;
}
.conocer-mas {
  background-color: #eb8b26;
  color: white;
  width: 150px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.conocer-mas:hover {
  color: #eb8b26;
  background-color: white;
  border: 0.5px solid #eb8b26;
}
