.bg-gestion {
  background-color: #be3b6b;
}
.bg-mercadeo {
  background-color: #f58208;
}
.conocer-mas {
  background-color: #eb8b26;
  color: white;
  width: 150px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.img-item {
  width: 100%;
  height: 350px;
}
.project-item {
  padding: 20px;
}

.conocer-mas:hover {
  color: #eb8b26;
  background-color: white;
  border: 0.5px solid #eb8b26;
}

@media only screen and (min-width: 768px) {
  .servicios-project {
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .img-item{
    width: 500px;
  }
  p{
    font-size: 1.5rem;
  }
}



